matplotlib==3.6.2
numpy==1.24.4
setuptools==65.5.0
sympy==1.13.3
torch==2.9.0
torchvision
tqdm==4.66.2
pandas
PyYAML
scikit_learn
xgboost==1.7.3
openpyxl
PyQt5
pyinstaller
loguru
seaborn
polars
fluids
thermo
setproctitle
psutil
h5py